body {
    /*overflow-y:hidden;*/
}
.content {
    background-color: rgba(56,132,182,1);
    width: 266px;
    height: 82.3%;
    display: inline-block;
    float:left;
}

.content ul {
    padding: 15px 0 15px 15px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(78,178,238,1);
}

.content a {
    text-decoration: none;
}

.content li {
    cursor:pointer;
    font-size: 15px;
    list-style-type: none;
    color: rgba(248,248,248,1);
    padding: 18px;
    padding-left: 50px;
    background-image: url("/assets/cows_icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    /*margin-left: 10px;*/
}
/*
li#createinsem {
    background-image: url("/assets/check_mark_icon.png");
    background-repeat: no-repeat;
}
*/
 li#insemlist{
    background-image: url("/assets/computer_icon.png");
    background-repeat: no-repeat;
}
.content ul:hover {
    background-color: rgba(44,106,145,1);
}

.sidebar{
  /*background-color: rgba(248,248,248,1);
   display: inline-block;
 float: left;*/
    background-color: rgba(248,248,248,1);
   /*width: 70%;
   width: calc(100% - 266px);
    height: auto;*/
    display: inline-block;
    margin-left: 30px;
 /* margin-right: 80px;
  margin-top:10px;*/
}
.sidebar h1{
    font-size: 23px;
    /*margin:23px;*/
}
.sidebar input{
    background-color: rgba(255,255,255,1);
  width: 250px;
  height: 33px;
  line-height: 33px;
  padding-left: 8px;
  /* text-align: center; */
  font-size: 16px;
  border: none;
outline:none;
}
.sidebar input#txtcownum{
    height: 70px;
}
.sidebar li{
    list-style-type:none;
}
select{
-webkit-appearance: none;
  border:none;
  background-color:rgba(248,248,248,0);
  outline:none;
  background-image: url("/assets/icon_arrow.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 13px;
  font-size: 11px;
}
table{
   /*margin-left:30px;*/
  
}
tr{
margin:8px;
  cursor: pointer;
}
table, th, td {
    border-collapse: collapse;

}
th{
    background-color:white;
    color:#cbcbcb;
    text-align: center;
    padding: 5px;
    font-size: 13px;
}
img#arrow{
padding-top:4px;
}
.secttl{
 background-color:rgba(78,178,238,1);
    color: rgba(255,255,255,1);
 /*   padding: 8px 8px 8px 6px;*/
padding: 4px 8px 0px 6px;
    text-align: center;
    font-size:12px;
     /* width: auto;
    font-style: italic;*/
}
th#first {
    padding-right: 45px;
    padding-left: 80px;
}
td{
    text-align: center;
    /*padding: 5px;*/
    font-size: 12px;
    width: 50px;  
}

td#pic{
width:65px;
}
td#color.secttl{
    padding-right: 11px;
    padding-left: 12px;
}
td#check{
padding:0px;
text-align:center;
width:0%;
}
td#head , td#first{
    /*border-right:3px solid white;*/
}
td#first {
    padding-right: 60px;
   /* padding-left: 80px;*/
}
td#name{
text-align:left !important;
}
td#last{
 padding-right: 20px;
}
td#toservice{
 padding-left: 14px;
}
th#first ,td#first{
   /* padding-right: 45px;*/
}
.tblcontent td{
    color: black;
    font-size: 13px;
    background-color: white;
    padding: 0px;
    text-align: center;
   /* width: 33px;*/
    float:left;
}
.button{
 background-color: none;
display: inline-block; 
float: right;
padding-left: 5px;
margin-top: 17px;
/*margin-right: 85px;*/
}
/*
tr:nth-child(odd){
background:#fff;
}
tr:nth-child(even) {
    background: #f0f0f0;
}
*/
/* Button Style */
button.submit {
background-color:rgba(2,103,169,1);
 border: 1px solid rgba(248,248,248,1);
    border-bottom: 1px solid rgba(248,248,248,1);
    border-radius: 3px;
    color:white;
   font-weight: bold;
    padding: 6px 30px;
    text-align: center;
    height: 32px;
    /*margin-right: 8px;*/
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
background-color:rgba(75,178,245,1);
color:white;
}
.menu a#Bulls{
  border-bottom: 5px solid;
  border-bottom-color: #7a1519;
  padding-bottom:8px;
}
button.submit{
    background-color:rgba(220,220,220,1);
    color:black;
}
button.submit:focus{
    background-color:rgba(75,178,245,1);
    color: white;
}
button.submit#update{
    margin-left: 155px;
    margin-top: 50px;
}
label#show{
/*font-weight:bold;*/
font-size:14px;
}
.sidebar input[type=checkbox]{
 -webkit-appearance: none;
 background-image: url("/assets/check_box.png");
    background-repeat: no-repeat;
    background-position:left center;
    width:22px;
    height:20px;
    margin-right:9px;
    outline:none;
}
.sidebar input:checked[type=checkbox]{
    background-image: url("/assets/check_box_marked.png");
    background-repeat: no-repeat;
    background-size:20.9px;
    background-position: 0px 1px;
    outline:none;
}
button.submit#find{
   background-color:rgba(75,178,245,1);
   border: 1px solid rgba(248,248,248,1);
    border-bottom: 1px solid rgba(248,248,248,1);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 6px 30px;
    text-align: center;
    height: 32px; 
}
button.submit#find:focus{
     outline: none;
    /*box-shadow: 0 0 10px 5px #868686 inset; */
    }
button.submit#bull:active{
    /* border: 1px solid #E6EBFA;
    box-shadow: 0 0 10px 5px #E6EBFA inset; */
}
button.submit#bull{
background-color:rgba(248,248,248,1);
color:rgba(75,178,245,1);
border-radius: 10px;
padding: 6px 10px;
border:none;
}
button.submit#bull:focus{
color:black;
outline: none;
}
.bull{
    float: right;
    /*padding-right: 8px;*/
    margin: 4px 0 13px 8px;
     display: inline-block
}
.input{
    margin-left: 30px;
    margin:0px;
    display: inline-block;
    border:none;
}

#bullsForm{
/*margin-top:30px;*/
}

#bullabel{
font-size:12px;
margin-right: 12px;
}
#tag-wrapper-cows {
    margin-top: 10px;
    background-color: #fff;
    width: 660px;
    height: auto;
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */    box-sizing: border-box;
    padding: 6px;
    /*min-height: 48px;*/
}

.inner-tag-cows {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #F3F3F3;
	display: inline-block;
	margin: 5px 3px 5px 3px;
	padding: 3px 18px 3px 5px;
	border-radius: 5px;
	border: 1px solid #d6d6d6;
	position: relative;
}

.exit-inner-tag {
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url("../assets/x.png");
    right: 2px;
    top: 6px;
    background-size: 100% 100%;
    cursor: pointer;
}

#information{
    position: absolute;
  width: 400px;
  height: 530px;
  display: none;
  background: #fff;
  left: 120px;
  font-size: 0.8em;
  line-height: 2;
   box-shadow: 2px 2px 20px #989898;
   text-align:left;
}

#information span{
	float:right;
}

.tooltip_info1 .tooltip_col1 span{
	float:none !important;
}

.tooltip_title{
  width: 100%;
  height: 8%;
  text-align: center;
  line-height: 57px;
  border-bottom: 1px solid grey;
  font-weight: bold;
  font-size:13px;
}

.tooltip_pic{
	width: 100%;
	height: 24%;
	/*background: url("/assets/iconcow.jpg") no-repeat;*/
  background-size: 155px auto;
  background-position: 50%;
  border-bottom: 1px solid grey;
}

.tooltip_info1{
	width: 90%;
  height: 20%;
  padding: 5% 5% 5% 5%;
  border-bottom: 1px solid grey;
}

.tooltip_info2{
	width: 90%;
  height: 35%;
  padding: 5% 5% 5% 5%;
font-size:11px;
}

.tooltip_col1{
	width: 35%;
  height: 100%;
  float: left;
  padding-right: 13%;
font-size:11px;
}

.tooltip_col2{
	width: 35%;
  height: 100%;
  float: left;
  padding-right: 15%;font-size:11px;
}

.tooltip_info1 .tooltip_col2{
  width: 50%;
  height: 100%;
  float: left;
  padding-right: 1%;
font-size:14px;
}
/*
#heading img{
margin-left: 30px;
}
*/
#heading input[type=checkbox]{
  margin: -1px 4px 5px 0px;
}
div.tooltip_sectititle{
font-weight:bold;
}
table {
    width: 100%;
    display:block;
}
/*
thead {
    width: 100%;
    height: 100%;
}

thead, tbody { display: block; }

tbody {
    overflow-y: auto;    /* Trigger vertical scroll  
    overflow-x: hidden;  /* Hide the horizontal scroll 
}
table.scroll {
    width: 100%; /* Optional
    /* border-collapse: collapse; 
    border-spacing: 0;

}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 20px;
    /*text-align: left;
}

table.scroll tbody {
    height:280px;
    overflow-y: auto;
    overflow-x: hidden;
}*/
tbody td, thead th {
}
.chosen{
background-color:rgba(78,178,238,0.3) !important;
}

.wrapper{
position:relative;
width: 70%;
  /*width: calc(100% - 266px);*/
  height: auto;
  float:left;
}
input.color{
-webkit-appearance: none;
background-color:transparent !important;
width:45px ! important;
  height:30px ! important;
}

/*
.color:nth-child(odd){
-webkit-appearance: none;
background-color:#f0f0f0 !important;
}
input.color:nth-child(even) {
-webkit-appearance: none;
   background-color:yellow !important;
}*/