/*html, body{overflow:hidden !important;}*/
.content {
    background-color: rgba(56,132,182,1);
    width: 266px;
    height: 82.7%;
    display: inline-block;
    float: left;
}

.content ul {
    padding: 15px 0 15px 15px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(78,178,238,1);
}

.content a {
    text-decoration: none;
}

.content li {
    cursor:pointer;
    font-size: 15px;
    list-style-type: none;
    color: rgba(248,248,248,1);
    padding: 18px;
    padding-left: 50px;
    background-image: url("/assets/cows_icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 10px;
}

li#createinsem {
    background-image: url("/assets/check_mark_icon.png");
    background-repeat: no-repeat;
}

.content ul:hover {
    background-color: rgba(44,106,145,1);
}
li#preferedPhrase{
    background-image: url("/assets/list_icon.png");
}
ul#select{
text-align:center;
padding: 0px;
margin: 0px;
  margin-top: 50px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: rgba(248,248,248,1);
    outline: none;
    background-image: url("/assets/icon_arrow.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    font-size: 12px;
}
/*
select:nth-of-type(2) {
    background:#fff;
}*/
img#arrow{
padding-top:4px;
}
.sidebar {
    background-color: rgba(248,248,248,1);
   /*width: 75%;
    height: auto;*/
    display: inline-block;
    float: left;
    margin-left: 40px;
  margin-right: 20px;
  margin-top: 15px;
}

.sidebar h1 {
text-transform: uppercase;
    font-size: 18px;
    /*margin: 40px;*/
}
input#search{
    background-color: rgba(255,255,255,1);
  width: 250px ! important ;
  height: 33px ! important ;
  line-height: 33px;
  padding-left: 8px;
  /* text-align: center; */
  font-size: 16px;
  border: none;
outline:none;
}
.sidebar input:not([type=checkbox]) {
    background-color: rgba(255,255,255,1);
    width: 540px;
    height: 52px;
    text-align: center;
    font-size: 16px;
}

.sidebar input[type=checkbox] {
    -webkit-appearance: none;
    background: url("/assets/check_box.png") left top;
    background-repeat: no-repeat;
    width: 22px;
    height: 20px;
    outline: none;
    display: inline-block;
    margin: -1px 4px 0 0;
    padding: 0;
}

.sidebar input:checked[type=checkbox] {
    background-image: url("/assets/check_box_marked.png");
    background-repeat: no-repeat;
    background-size: 20.9px;
    background-position: 0px 1px;
    outline: none;
}

.sidebar input#txtcownum {
    height: 20px;
    width: 660px;
    border: none;
    outline: none;
    text-align: left;
    padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 7px;
}

.sidebar li {
    list-style-type: none;
}

table {
   /* margin-left: 30px;*/
     margin-top: 15px;
     margin-bottom: 20px;

}
table, th, td {
    border-collapse: collapse;
}

th {
    background-color: white;
    color: #cbcbcb;
    text-align: center;
    /*padding: 5px;*/
    font-size: 13px;
}

td {
    text-align: center;
    padding: 0px;
    font-size: 12px;
}
td#pic{
text-align:left;
}
tr{
	height:33px;
	  cursor: pointer;
}

tr:nth-child(odd){
background:#fff;
}
tr:nth-child(even) {
    background: #f0f0f0;
}
.secttl {
    background-color: rgba(78,178,238,1);
    color: rgba(255,255,255,1);
    padding: 8px;
    text-align: center;
    font-size: 15px;
}
/*
td#head , td#first{
    border-right:3px solid white;
}
th#first {
    padding-right: 30px;
    padding-left: 80px;
}

*/
th#first, td#first {
    padding-right: 30px;
    padding-left: 70px;
}

.button {
    display: inline-block;
    float: right;
    padding-left: 5px;
    /*margin-right: 15px;*/
}
/* Button Style */
button.submit {
    background-color: rgba(220,220,220,1);
   border: 1px solid rgba(248,248,248,1);
    border-bottom: 1px solid rgba(248,248,248,1);
    border-radius: 3px;
    color: black;
  font-weight: bold;
    padding: 6px 15px;
    text-align: center;
    height: 32px;
    font-size: 12px;
}

button.submit:hover {
    opacity: .85;
    cursor: pointer;
    background-color: rgba(78,178,238,1);
    color: white;
}

button.submit:focus {
    background-color: rgba(78,178,238,1);
    color: white;
}

button#create.submit {
    /*margin-left: 490px;*/
    margin-top: 12px;
    background-color:#0067a9;
    color:white;
    float: right;
}

.menu a#Cows {
    border-bottom: 6px solid;
    border-bottom-color: rgba(121,20,24,1);
    padding-bottom: 8px;
}

label#number {
    color: rgba(121,20,24,1);
   /* margin-left: 190px;*/
    margin-right: 6px;
}

label#selected {
    /*margin-left: 160px;*/
    font-size: 14px;
    font-weight: normal;
}

.sidebar label {
    font-size: 28px;
    font-weight: bold;
}


#tag-wrapper-cows {
    /*margin-top: 10px;*/
    background-color: #fff;
    width: 660px;
    height: auto;
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */    box-sizing: border-box;
    padding: 6px;
    /*min-height: 48px;*/
}

.inner-tag-cows {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #F3F3F3;
	display: inline-block;
	margin: 5px 3px 5px 3px;
	padding: 3px 18px 3px 5px;
	border-radius: 5px;
	border: 1px solid #d6d6d6;
	position: relative;
}

.exit-inner-tag {
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url("../assets/x.png");
    right: 2px;
    top: 6px;
    background-size: 100% 100%;
    cursor: pointer;
}
