.farms-container {
  padding-top: 10%;
  width: 100%;
  height: 280px;
  background-color: rgba(78,178,238,1);
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
}
.farms-container .single-farm {
  background: url("/assets/cows2.png") no-repeat;
  background-size: 200px;
  background-position: center 0px;
  height: 250px;
  width: 250px;
  text-align: center;
  line-height: 450px;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  cursor: pointer;
}
.farms-title {
  margin: auto;
  width: 400px;
  font-size: 40;
}