body{
position:relative;
background-color: rgba(248,248,248,1);
margin: 0px;
font-family: arial;
width: 100%;
}
.right{
    background-color: rgba(65,65,65,1);

}

.header{
background-color: white;
width:100%;
font-size:14px;
font-family: arial;
display:inline-block;margin: 0px;
}
h2.header{height: 158px;
width: 3px;}
.header p{
    display: inline-block;
}

.sucess{
display: inline-block;
background-image: url("/assets/check_mark.png");
background-repeat: no-repeat;
background-position:left center;
float:right;
padding-right: 13px;
color:rgba(8,180,18,1);
margin:12px;
margin-bottom:6px;
}
.sucess p{
    display: block;
    padding-left: 45px;
    text-align: left;
    font-size: 16px;
}
p#update{
    color: grey;
    font-size: 12px;
    line-height:0%;
}
.menu{
 /*padding-left:210px; */
 padding-right: 40px;
 display: inline-block;
 vertical-align:top;
 margin-top:42px;
}
.menu a{
 font-size:16px;
text-decoration: none;
color:black;
padding-right:30px;
padding-left:21px;
}
.details{

background-color: rgba(243,243,243,1);
  height: 35px;
  width: 100%;
  line-height: 50px;
  text-align: right;
  /* padding-top: 10px; */
  margin-top: -1px;
  font-size:14px;
}
.details label{
float:left;
    padding-left: 12px;
}
.title{
    background-color:rgba(248,248,248,1);
    text-align: center;  
    font-size: 12px;
}
.title img{
padding-top:45px;}
p.title1{
    font-size: 23px;
line-height: 0%;}