input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type=checkbox] {
    display: none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0px 7px;
    vertical-align:middle;
    background: url("/assets/check.jpg") left top no-repeat;
    cursor:pointer;
    padding: 0;
}

input[type="checkbox"]:checked + label span {
    background: url("/assets/iconcheked.jpg") top no-repeat;
  background-size: 19px;
  background-position: 0px 1px;
}

.imgSelect{
/*background: url("/assets/graph1.jpg") left top no-repeat;*/
margin-top:70px;
height: 350px;
  margin-right: 63px;
} 

input[type=range] {
	-webkit-appearance: none;
	border-radius: 0px;
	vertical-align: middle;
	margin: -15px 0 0 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: visible;
	width: 100%;
	background: transparent;
    border-radius:30px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	position: relative;
	pointer-events:none;
	width: 10px;
	height: 100%;
    
}
input[type=range]::-webkit-slider-runnable-track {
	background: #fff; 
	height: 8px;
	margin:5px 5px;

}
input[type=range]::-webkit-slider-thumb:before {
	content:"-";
	font-style: 0;
	line-height:0;
	position: absolute;
	right:-3000px;
	left:0;
	top:0;
	bottom:0;
	background: rgba(78,178,238,1);
	
    
}
input[type=range]::-webkit-slider-thumb:after {
	background:url("/assets/slider.png") no-repeat;
	background-position:-3px -4px;
	background-size:23px;
	content: "";
	position: absolute;
	border-radius: 50%;
	left:-5px;
	right:-4px;
	top:-4px;
	bottom:-4px;
	/*background: #e8e8e8;
	
	border:5px solid #e8e8e8;
	z-index: 10;
	border:1px solid grey;*/
}
input[type=range]:focus {
	outline:none;
}
input[type=range]:hover::-webkit-slider-thumb:after,
input[type=range]:focus::-webkit-slider-thumb:after {
	/*background: #e8e8e8;*/
}
input[type=range]:disabled::-webkit-slider-thumb:before {
	background-color: #a1151a;
}
input[type=range]:disabled::-webkit-slider-thumb:after {
	background: #adadad !important;
}

.content{
  background-color: rgba(56,132,182,1);
  width: 266px;
    display: inline-block;  
    /*padding-top: 15px;*/
    float: right;


/*height: -moz-calc(100% - 7.16em);

height: -webkit-calc(100% - 7.16em);

height: -o-calc(100% - 7.16em);

height: calc(100% - 7.16em);*/
}
.content ul{ 
padding: 15px 0 15px 15px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(78,178,238,1);
}
.content a{
  text-decoration:none;  
}
.content li{	
font-size: 15px;
    list-style-type:none;
    color: rgba(248,248,248,1);
    padding: 18px;
    padding-right: 50px;
   /* background-image: url("/assets/inse.jpg");*/
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: 10px;
       text-align: right;
     padding-right: 35px;
    margin-right: 10px;
}
.content .activePhrase{
    background-image: url("/assets/x_icon.png");
}
.content .preferedPhrase{
    background-image: url("/assets/list_icon.png");
}
.content .GenPhrase{
    background-image: url("/assets/cows_icon.png");
}
.content .GenfarmPhrase{
    background-image: url("/assets/farm_icon.png");
}
.content .manualPhrase{
    background-image: url("/assets/import_icon.png");
}
.content ul:hover{
    background-color:rgba(44,106,145,1);
}

.menu a#Settings{
  border-bottom: 5px solid;
  border-bottom-color: #7a1519;
  padding-bottom: 18px;
}
.sidebar{
    background-color: rgba(248,248,248,1);
  display: inline-block;
   float: right; 
 /* width: 55%;*/
  margin-right: 80px;
  margin-top: 40px;
  /* height: 78.5%; */
}
.sidebar h1{
    font-size: 24px;
  /* margin: 40px; */
   float: right; 
  /* display: block; 
  margin-bottom:30px;*/
  margin-left: 80px;
}

.sidebar label{
    margin-bottom: 20px;
   /*  margin-top: 30px;
  padding-left: 40px; */
  font-size: 14px;
  display: block;
  /* float:right;
  display: inline-block; */
}
.sidebar select{
-webkit-appearance: none;
	background-color: rgba(78,178,238,1);
  border-radius: 5px;
  color: white;
  border-color: white;
  width: 310px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px;
    margin-bottom: 10px;
  padding-left: 7px;
  /* margin-top: 20px; */
  /* margin: 40; */
  background: url(/assets/arrow.png) no-repeat rgba(78,178,238,1);
  background-position: 288px 12px;
    display: inline-block;
      float: right;
  margin-right: 55px;
}

table{
    /*padding-left: 25px;*/
    display:inline-block;
}
th{
    padding: 3px;
    text-align: right;
    font-size:18px;
}
td{
    display: inline-block;
}
td#second{
   vertical-align: top;
}
input:checked{

}
/*.sidebar input[type=checkbox]{
    height: 18px;
    width: 18px;
    color:blue;
    background-color: blue;
    margin: 10px;
}*/
span{
    padding: 5px;
}
.farmsetting{
   display: inline-block;
  width: 55%;
  height: 78.2%;
  float: right;
  margin-right: 80px;
  margin-top:50px;
}
.farmsetting h1{
  font-size: 19px;
  /*padding-top: 25px;
   padding-left: 25px; */
  float: left;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
set{
    float:left;
}
.farmsetting li {
    list-style-type:none;
    margin:0px;
    padding-top:5px;
    /*padding-left:25px;*/
    font-size: 13px;
    padding-bottom: 5px;
}
.farmsetting li .set5_fileInput{
margin-top: 23px;

}
label.title{
    /*padding-left:25px;*/
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}
.farmsetting input[type=submit], .farmsetting input[type=number], .farmsetting input[type=date], .farmsetting input[type=text], .farmsetting input[type=email] ,#uploadFile, select{
    height:30px; 
    width:208px;
    border-radius: 3px;
    padding:6px;
    border:1px solid #aaa;
    background-color: white;
}

.farmsetting input[type=date]{
background-image: url("/assets/diary.png");
  background-repeat: no-repeat;
  background-position: 4px 4px;
}

button.submit2 {
background-color: #d2d2d2;
  color: #000;
  font-family: arial;
  border-radius: 1px;
  width: 160px;
  height: 36px;
  border: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  margin-top: 13px;
  font-size:18px;
}
button.submit2:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit2:active {
    border: 1px solid #6281BC;
    box-shadow: 0 0 10px 5px #6281BC inset;  
}
.location{
    border-radius: 3px;
    font-weight: bold;
    width:55px;
    font-size:19px;
}
.farmsetting input[type=checkbox]{
    height: 15px;
    width: 18px;
}
.manual{
    /*margin-left: 27px;*/
    margin-bottom:7px;
    font-size:15px;
    font-weight: bold;
}
button.submit{
    background-color: rgba(75,177,245,1);
    color:rgba(248,248,248,1);
    font-family: arial;
    border-radius:1px;
    width: 160px;
    height:36px;
    border: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 3px;
    font-weight: bold;
    padding: 7px 10px;
    text-align: center;
    margin-top: 13px;
    font-size:18px;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #0E457A;
    box-shadow: 0 0 10px 5px #0E457A inset;
}
tr{
 padding: 7px; 
 height: 51px;  
}
td{
 padding: 5px;   
}
th{
    font-size: 18px;
}
th#settings5{
font-weight:normal;
 font-size: 14px;
}
label#reproduc{
font-weight: bold;
font-size: 18px;
padding: 3px;
text-align: right;
}
/*input[type=range]{
 -webkit-appearance: none;
}
input#slider{
 border:none;
 background-color: rgba(248,248,248,1);
 }
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 12px;
    border:1px solid gray;
    border-radius: 3px;
}
input[type=range]::-moz-slider-runnable-track {
    width: 300px;
    height: 12px;
    border:1px solid gray;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color:white;
    border:1px solid gray;
    margin-top: -4px;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color:white;
    border:1px solid gray;
    margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background-color: rgba(75,178,245,1);
}
input[type=range]:checked::-webkit-slider-runnable-track {
background-color:red;
}
input[type=range]:focus::-ms-fill-lower {
    background: gba(75,178,245,1);
    border-radius: 10px;
}
input[type=range]:focus::-ms-fill-upper {
    background: white;
}
input[type=range]:focus {
    outline: none;
}*/

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
.location::before {
  /*content: '...';*/
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
    font-weight: bold;
    width:55px;
    font-size:19px;
}
.location:hover::before {
  border-color: black;
}
.location:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#first label, #second label{
  margin-bottom: 10px;
  vertical-align: bottom;
}
td#first{
  vertical-align: top;
}
.sidebar table{
padding:0;
}

.sliderVal{
text-align: center;
  position: relative;
  right: 130px;
  bottom: 20px;
  font-weight: bold;
  width: 51px;
  min-width: 51px;
  display: inline-block;
  padding: 0px;
}
.sliderVal2{
text-align: center;
  position: relative;
  right: 140px;
  bottom: 20px;
  font-weight: bold;
  color: #4ab2f5;
  width: 51px;
  min-width: 51px;
  display: inline-block;
  padding: 0px;
}


td select {
  /*width: 100%;*/
  height: 30px;
}

#set4_inputname{
margin-right:30px;
}

#set4_inputLoc{
margin-right:18px;
}

#set4_inputnumber{
margin-right:19px;
}

#set4_inputlast{
margin-right:10px;
}

#set4_inputdays{
margin-right:22px;
}

#set4_locationtxt{
margin-right:55px;
}

#set4_backuplocationtxt{
margin-right:22px;
}
#set4_inputemail{
margin-right:18px;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	width: 50px;
}


.uploadBtn-setting-input {
	position: absolute;
  	width: 100%;
  	height: 100%;
  	top: 0px;
  	left: 0px;
  	opacity: 0;
}


.button-upload {
	height: 27px;
  	vertical-align: top;
  	background-color: #DCDCDC;
	border: 0px;
	position: relative;
}

.dots-in-upload {
  height: 100%;
  line-height: 18px;
}
.tooltip {
  display: none;
  position: absolute;
  color: red;
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  margin-top: 3px;
}

.submit .manual{
font-size:12px;
}

#set5_fileInput {
margin-top:28px;
}

.submit2 .manual{
font-size:18px;
}

#updateDB{
position: relative;
 /* left: 190;*/
  float: left;
  margin: 0px;
  margin-right: 30px;
  background-color: rgba(78,178,238,1);
  height:30px;
    padding: 4px 10px !important;
}
#updateDB2{
float: left;
  margin-left: 49%;
}
#updateDB5 {
  position: relative;
  right: 250px;
  margin-top: 0px;
.sidebar th{
font-weight:bold;
}

.farmsetting input[type=email]{
  margin-right: 18px;
}