body{
position:relative;
background-color: rgba(75,178,245,1);
width:100%;margin: 0px;
}
.header{
height: 16px;width:100%;
/*margin-bottom:7px;*/
margin-top: -45px;
  background-color: rgba(248,248,248,1);
           }
.cow{

    display: inline-block;
    background-color:rgba(248,248,248,1);
  /*  background-image: url("/assets/cows.jpg");
    background-repeat: no-repeat;
    background-position:63%;*/
    width:100%;
    height: 76%;
}
.register-form{
display:inline-block;
/*position:absolute;*/
top:50px;
left:40px;
margin-right:30px;
}
div#gif{
  width: 300px;
  height: 11%;
  margin-right: auto;
  margin-left: auto;
background-color:transparent;
}
.register-form input .register-form h1 .register-form label{padding-left: 25px;}
.divlogin{background-color:rgba(255,255,255,1);
         margin-top: 60px;
         padding-top: 15px;
  margin-right: 50px;}
.register-form ul {
    list-style-type:none;
    margin:0px;
    padding:20px;
}
.register-form h1 {
    padding-left:18px;
    margin:0px;
    display: inline-block;
    font-size:23px;
    color:black;
    font-family: arial;
}
.register-form label {
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:1px;
    padding-top:7px;
    font-size:11px;
    font-family: arial;
    /*margin-left:-20px;*/
    color:black;
    /*padding-left:13px;*/
}
.register-form input:not([type=checkbox]) {
    height:33px; 
    width:208px; 
}
.register-form input[type=checkbox]{
 -webkit-appearance: none;
 background: url("/assets/check_box.png") left top;
    background-repeat: no-repeat;
width:22px; 
height:20px;
padding-top: 7px;
display:inline-block;
float:left;
background-color:white;

outline:none;}

.register-form input:checked[type=checkbox]{
 -webkit-appearance: none;
 background-image: url("/assets/check_box_marked.png");
    background-repeat: no-repeat;
background-size: 20.9px;
    background-position: 0px 1px;
display:inline-block;
float:left;
background-color:white;
outline:none;}
.register-form input:not([type=checkbox]){ 
    border:1px solid rgba(75,178,245,1);
    border-radius:2px;
    background-color: white;
    padding:9px;
}
.register-form input:focus:not([type=checkbox]){
    background-color:whitesmoke; 
    border:1px solid rgba(18,116,143,1);    
}
.check{
color:rgba(75,178,245,1);
text-decoration:none;
margin-right:40px;}
a:hover {text-decoration:underline;} 
.forget{
color:rgba(75,178,245,1);
text-decoration: underline;
float:right;
font-size:10px;
padding-bottom:15px;
padding-top: 5px;
font-family:arial;
padding-right: 10px;}
/* Button Style */
button.submit {
background-color:rgba(75,178,245,1);
    border: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding: 8px 30px;
    text-align: center;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #6281BC;
    box-shadow: 0 0 10px 5px #6281BC inset;  
}
.register-form button 
{margin-left:1px;
 margin-top:30px;}
li.read2{
float:left;
}
div#center{
width:852px;
height:85%;
margin-right:auto;
margin-left:auto;
}
div#center1{
width:852px;
margin-right:auto;
margin-left:auto;
}
 